header {
	background: #CB1540;
}
.hello{
	/*color: #7B0916;*/
	color: #EED5C7;
	text-align: center;
	padding: 4.3333% 0%;
}
.backbone {
	background: #21B3BA;
}
.bone{
	background-color: #EED5C7;
}
footer{
	background: #2E2E2E;
	color: white;
	padding: 2.333%;
	margin-top: 1.5555555%;
}
footer address{
	margin: 0%;
}
